  body{
      background-image: url("assets/background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      box-shadow: 
    inset 0 0 300px rgba(0, 0, 0, 1),  /* Changed to 1 (fully opaque) */
    inset 0 0 220px rgba(0, 0, 0, 1),
    inset 0 0 160px rgba(0, 0, 0, 0.99),
    inset 0 0 100px rgba(0, 0, 0, 0.98),
    inset 0 0 60px rgba(0, 0, 0, 0.97);
  }

  .navbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      padding: 20px;
  }

  .navbar h1{
      margin: 0;
      transition: color 0.6s ease;
  }

  .navbar h1:hover{
      color: yellow;
  }

  .navbar a{
      color: #fff;
      text-decoration: none;
      margin-left: 20px;
      font-weight: bold;
      padding: 8px 14px;
      position: relative;
      transition: all 0.4s ease;
  }

  .navbar p{
      font-size: large;
  }

  .navbar a::after{
      content: "";
      position: absolute;
      width: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background: yellow;
      transition: width 0.4s ease;
  }

  .navbar a:hover{
      color:yellow ;
  }

  .navbar a:hover::after{
      width: 100%;
  }

  .logo{
      cursor: pointer;
      user-select: none;
  }


  .section {
    display: none;  
    text-align: center;
    max-width: 900px;
    margin: 450px auto 40px;
    padding: 30px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.6);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }

  .section.active {
    display: block;  
    opacity: 1;
    transform: translateY(0);
  }


  #project ul {
    padding-left: 0;
  }

  #project li {
    margin: 12px 0;
  }

  #project a {
    color: #f00;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.7s ease;
  }

  #project a:hover {
    color: #0f0;
  }

  #certifications ul {
    list-style-type: none;
    padding-left: 0;
  }

  #certifications li {
    margin-bottom: 12px;
    line-height: 1.6;
  }

  #certifications strong{
      color: #f00;
      font-weight: bold;
      transition: color 0.5s ease;
  }

  #certifications strong:hover{
      color: #0f0;
  }

  #contact strong{
    color: #f00;
  }

  .footer{
    text-align: center;
    padding: 15px 0;
    background: rgba(0,0, 0, 0.7);
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    box-shadow: 0 -4px 10px rgba(0,0, 0, 0.5);
    z-index: 1000;
  }
